/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
.cm-s-default .cm-shortcode {
    color: orange;
}
.CodeMirror {
    /*height: auto; use this for auto-resizing*/
    margin-top: 37px;
}
.tkt_template_select{
    width: 100%;
}
#tkt_template_shortcode{
    margin:auto;
}
#tkt_copy_template_shortcode svg{
    vertical-align: sub;
}
.tkt_template_shortcode_copy{
    display:flex;
}
/*
Use this for highlighting the current focused element throughout the content of the editor
.CodeMirror-focused .cm-matchhighlight {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAFklEQVQI12NgYGBgkKzc8x9CMDAwAAAmhwSbidEoSQAAAABJRU5ErkJggg==);
  background-position: bottom;
  background-repeat: repeat-x;
}
.cm-matchhighlight {
  background-color: lightgreen
}
.CodeMirror-selection-highlight-scrollbar {
  background-color: green
}
*/