/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
.cm-s-default .cm-shortcode {
    color: orange;
}
.CodeMirror {
    /*height: auto; use this for auto-resizing*/
    margin-top: 37px;
}
.tkt_template_select,
.tkt_template_select_multi{
    width: 100%;
}
#tkt_template_shortcode{
    margin:auto;
}
#tkt_copy_template_shortcode svg{
    vertical-align: sub;
}
.tkt_template_shortcode_copy{
    display:flex;
}
.tkt_conditional_select2{
    display: none;
}
fieldset.tkt-fieldset {
    border-top: #2e7ba5 solid 1px;
    border-bottom: #2e7ba5 solid 1px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    padding-bottom: 10px;
    margin-bottom: 25px;
}

legend.tkt-legend {
    color: #2e7ba5;
    padding: 5px 10px;
    border: 1px #2e7ba5 solid;
    margin-left: 10px;
}
.tkt_fieldset_section{
    margin-top: 10px;
}
